.heading {
    font-weight: 800;
}

.clear_btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    background-color: rgb(95, 95, 95);
    color: #fff;
    cursor: pointer;
}

.product_navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    background-color: #eee;
    margin: 0;
    z-index: 3;
}