.parent {
    display: flex;
}

.parent_sidebar {
    border-right: solid 2px #ccc;
    width: 25%;
    padding: 2%;
    background-color: #f1f1f1;
}

.product_side {
    width: 75%;
    padding: 1rem;
}

.product_list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1vw;
    text-align: center;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 1rem;
    width: calc(33.333% - 2rem);
    height: 7rem;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .product {
        width: 100%;
        text-align: center;
        height: 8.5rem;
        font-size: 4vw;
        margin: 0 .5rem;
    }

    .product_side {
        padding: 2px;
        display: block;
        width: 55%;
    }

    .parent_sidebar {
        width: 45%;
    }

    .filters_input {
        width: 95%;
    }

    .filters {
        width: 70%;
    }
}