.parent{
    display: flex;
    padding: 1%;

}
.parent_sidebar{
    border-right: solid 2px #ccc;
    width: 25%;
    padding: 2%;
}
.product_side{
    width: 70%;
    padding: 5px 20px;

}

.product_list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 10px 10px 0 10px ;
    padding: 15px;
    width: 30%;
    height: 7rem;
    box-sizing: border-box;
    transition: transform 0.2s;

}

@media (max-width: 576px) {
    .product {
        width: 100%;
        text-align: center;
    height: 10rem;
    }

    .filters_input {
        width: 95%;
    }
    .filters_div {
        width: 95%;
    }
    .product_side {
        padding: 5px;
        display: block;
        width: 55%;
    }
    .product_side_top{
        display: block;
        }
        .parent_sidebar{
            border-right: solid 2px #ccc;
            width: 45%;
        }
}